.xb-project-row {
    position: sticky;
    top: 0;
    @include respond(xs) {
        position: relative;
    }
}
.xb-project-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: var(--color-dark);
    padding: 100px 105px 100px 150px;
    @media only screen and (max-width: 1600px) {
        padding: 70px 80px;
    }
    @include respond(laptop) {
        padding: 50px;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        padding: 50px 30px;
    }
    @include respond(lg) {
        padding: 50px 40px;
    }
    @media only screen and (max-width: 1023px) {
        padding: 50px 30px;
    }
    @include respond(md) {
        padding: 80px 50px;
    }
    @include respond(xs) {
        padding: 50px 15px;
    }
    .xb-item {
        &--tag {
            gap: 10px;
            li a {
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                padding: 1px 15px;
                display: inline-block;
                @include transition(.3s);
                text-transform: uppercase;
                @include border-radius(30px);
                font-family: var(--font-heading);
                border: 1px solid rgba(255, 255, 255, 0.3);
                &:hover {
                    background: var(--color-primary);
                    border-color: var(--color-primary);
                    
                }
            }
        }
        &--title {
            font-size: 80px;
            font-weight: 700;
            line-height: 112%;
            line-height: 1.1;
            margin: 35px 0 25px;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: var(--color-white);
            a {
                color: currentColor;
            }
            @include respond(laptop) {
                font-size: 65px;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                font-size: 60px;
            }
            @include respond(lg) {
                font-size: 48px;
            }
            @media only screen and (max-width: 1023px) {
                font-size: 40px;
            }
            @include respond(xs) {
                font-size: 32px;
            }
        }
        &--content {
            font-size: 20px;
            color: var(--color-white);
        }
    }
    &.right-content {
        @include respond(laptop) {
            padding: 70px 50px;
            justify-content: start;
        }
    }
    .xb-project-bottom-item {
        @include respond(lg) {
            display: none;
        }
    }
}
.xb-project-img {
    position: relative;
    .xb-img {
        img {
           @include respond(md) {
               height: 400px;
               width: 100%;
               object-fit: cover;
           }
        }
    }
}
.xb-project-bottom-item {
    bottom: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    background-color: var(--color-white);
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%, 0 23%);
    @media only screen and (max-width: 1600px) {
        height: 150px;
    }
    @include respond(md) {
        height: 200px;
    }
    @include respond(xs) {
        height: 165px;
        width: 190px;
    }
    img {
        @media only screen and (max-width: 1600px) {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &.xb-left {
        right: 0;
    }
    &.xb-right {
        left: 0;
        clip-path: polygon(79% 0, 100% 23%, 100% 100%, 0 100%, 0 0);
    }
}
.xb-project-bottom-content {
    gap: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    @include respond(xs) {
        padding: 20px 10px 20px 20px;
    }
    .xb-number {
        font-weight: 500;
        font-size: 32px;
        color: var(--color-dark);
    }
    .xb-content {
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: var(--color-dark);
        font-family: var(--font-heading);
    }
}
.xb-project-top {
    @include respond(xs) {
        gap: 30px;
    }
}
.ar-project-top {
    gap: 20px;
    .xb-content {
        max-width: 510px;
    }
}
.ar-project-img-item {
    overflow: hidden;
    min-height: 825px;
    position: relative;
    @include respond(lg) {
        min-height: 700px;
    }
    @include respond(xs) {
        min-height: 600px;
    }
    .xb-item {
        &--title {
            line-height: 1;
            font-size: 80px;
            font-weight: 400;
            margin-bottom: 35px;
            letter-spacing: -0.04em;
            color: var(--color-white);
            text-transform: capitalize;
            opacity: 0;
            @include transition(.6s);
            transform: translateY(40px);
            a {
                color: currentColor;
            }
            @include respond(lg) {
                font-size: 60px;
            }
            @include respond(xs) {
                font-size: 40px;
            }
        }
        &--holder {
            position: absolute;
            bottom: 80px;
            left: 50px;
            @include respond(md) {
                left: 20px;
                bottom: 50px;
            }
            @include respond(xs) {
                
                left: 10px;
            }
        }
        &--btn {
            gap: 20px;
            opacity: 0;
            @include transition(.6s);
            transform: translateY(40px);
            a {
                font-size: 14px;
                .xb-icon {
                    height: 40px;
                    width: 40px;
                    padding: 8px;
                }
                &.bg_white {
                    .text {
                        color: var(--color-heading);
                        text-shadow: 0 1.3em var(--color-heading);
                    }
                    .xb-icon {
                        background: var(--color-heading);
                    }
                }
            }
        }
        &--bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            img {
                object-fit: cover;
            }
        }
    }
}
.xb-project-img-slider {
    .swiper-slide-active .ar-project-img-item {
        .xb-item {
            &--title,
            &--btn {
                opacity: 1;
                transition-delay: .1s;
                transform: translateY(0);
            }
            &--btn {
                transition-delay: .2s;
            }
        }
    }
}
.xb-project-nav-item {
    cursor: pointer;
    padding-right: 25px;
    display: inline-block;
    white-space: nowrap;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    @include respond(md) {
        padding-right: 20px;
    }
    @include respond(xs) {
        padding-right: 15px;
    }
    .xb-title {
        font-size: 16px;
        font-weight: 600;
        @include transition(.3s);
        color: rgba(255, 255, 255, 0.4);
        @include respond(md) {
            font-size: 14px;
        }
    }
}
.xb-project-nav-wrap {
    position: absolute;
    top: 80px;
    right: 60px;
    z-index: 2;
    gap: 30px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    padding: 13px 30px 13px 15px;
    @include border-radius(60px);
    backdrop-filter: blur(77px);
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.25);
    @include respond(lg) {
        top: 40px;
        right: 30px;
    }
    @include respond(md) {
        right: 10px;
        padding: 10px 15px;
    }
    @include respond(xs) {
        right: auto;
        left: 10px;
        gap: 20px;
        max-width: 350px;
    }
    @include respond(sm) {
        gap: 30px;
        
        max-width: 550px;
    }
    .xb-progress-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        position: relative;
        color: #fff;
        height: 32px;
        width: 32px;
        background: rgba(0, 0, 0, 0.1);
        @include respond(xs) {
            width: 65px;
            height: 32px;
        }
        @include respond(sm) {
            width: 40px;
            height: 32px;
        }
        svg {
            position: absolute;
            &:nth-child(1) {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                transform: rotate(-90deg);
                stroke: #fff;
                fill: transparent;
            }
            &:nth-child(2) {
                color: #fff;
                height: 20px;
            }
            circle {
                transition: stroke-dashoffset 0.2s linear;
            }
        }
        .play-icon {
            position: absolute;
            font-size: 16px;
            left: 11px;
            opacity: 0;
        }
        &[aria-label*="Play"] {
            .play-icon {
                opacity: 1;
            }
            .pause-icon {
                opacity: 0;
            }
        }
        &:hover {
            background: rgba(255, 255, 255, 0.4);
        }

    }
}
.xb-project-nav-slider {
    .swiper-slide {
        width: auto !important;
        &:last-child {
            margin-right: 0 !important;
            .xb-project-nav-item {
                border-right: none;
                padding-right: 0;
            }
        }
        &.swiper-slide-thumb-active .xb-project-nav-item {
            .xb-title {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}
.ie-project-img-slider {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    .swiper-slide-active .ie-project-img-item {
        animation: xb-zoomout 12s linear infinite;
    }
    .ie-project-img-item {
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
.ie-project-item-slider {
    max-width: 505px;
    text-align: end;
    @include respond(lg) {
        max-width: 408px;
    }
    @include respond(md) {
        max-width: 340px;
    }
    @include respond(sm) {
        max-width: 400px;
    }
}
.ie-project-item {
    .xb-item {
        &--inner {
            z-index: 1;
            overflow: hidden;
            text-align: start;
            position: relative;
            display: inline-block;
            @include transition(.3s);
            background: var(--color-white);
        }
        &--title {
            font-size: 45px;
            font-weight: 500;
            max-width: 460px;
            line-height: 55px;
            margin-bottom: 17px;
            @include transition(.3s);
            color: var(--color-dark);
            @include respond(laptop) {
                max-width: 450px;
            }
            @media only screen and (max-width: 1300px) {
                max-width: 415px;
                font-size: 38px;
                line-height: 46px;
            }
            @include respond(lg) {
                max-width: 360px;
                font-size: 36px;
            }
            @include respond(md) {
                max-width: 270px;
                font-size: 26px;
                line-height: 36px;
            }
            @include respond(sm) {
                max-width: 100%;
            }
            a {
                color: currentColor;
            }
        }
        &--content {
            margin-top: 15px;
            color: var(--color-dark);
            @include transition(.3s);
            @include respond(laptop) {
                max-width: 450px;
            }
            @media only screen and (max-width: 1200px) and (max-width: 1300px) {
                max-width: 350px;
            }
            @include respond(lg) {
                max-width: 330px;
            }
            @include respond(md) {
                max-width: 300px;
            }
            @include respond(sm) {
                max-width: 100%;
            }
        }
        &--holder {
            padding: 0 20px 35px;
            margin-top: 18px;
        }
        &--img {
            width: 505px;
            overflow: hidden;
            display: inline-block;
            @include transition(.3s);
            @include respond(lg) {
                width: 400px;
            }
            @include respond(md) {
                width: 340px;
            }
            @include respond(sm) {
                width: 100%;
            }
        }
        &--heading {
            transform: translateY(-13px);
            @include respond(md) {
                transform: translateY(0);
            }
            @include respond(xs) {
                margin-bottom: 40px;
            }
            .sec-title-three .title {
                @include respond(md) {
                    color: var(--color-dark) !important;
                }
            }
            .xb-btn {
                @include respond(md) {
                    margin-top: 40px;
                }
            }
        }
    }
    &:hover {
        .xb-item {
            &--inner {
                background: var(--color-primary);
            }
            &--img {
                padding: 20px 20px 0;
            }
            &--content,
            &--title a {
                color: var(--color-white);
            }
        }
    }
}
.ie-project-item-wrap {
    padding: 100px 0;
    overflow: hidden;
    min-height: 830px;
    position: relative;
    z-index: 1;
    @include respond(md) {
        min-height: 640px;
    }
}
.project-section {
    background: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include respond(md) {
        background: #fff4f0;
    }
}
// project page style
.pp-project-row {
    position: relative;
}
// Filter Nav - Start
.xb-project-menu {
    gap: 30px;
    display: inline-flex;
    margin-bottom: 100px;
    justify-content: center;
    button {
        line-height: 1;
        cursor: pointer;
        font-size: 22px;
        font-weight: 600;
        padding: 24px 50px 22px;
        @include transition(.3s);
        text-transform: uppercase;
        color: var(--color-heading);
        background-color: transparent;
        @include border-radius(100px);
        font-family: var(--font-heading);
        border: 1px solid var(--color-border);
        &.active,
        &:hover {
            color: var(--color-white);
            background-color: var(--color-primary);
            border: 1px solid var(--color-primary);
            
        }
    }
}
// Filter  Nav - End
.fc-project-top {
    gap: 30px;
    .sec-title {
        width: 100%;
        max-width: 1155px;
        @include respond(laptop) {
            max-width: 870px;
        }
        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            max-width: 730px;
        }
    }
}
.fc-project-item {
    max-width: 650px;
    @include respond(lg) {
        max-width: 550px;
    }
    @include respond(md) {
        max-width: 450px;
    }
    @include respond(xs) {
        max-width: 350px;
    }
    .xb-item {
        &--content {
            max-width: 511px;
            margin-top: 25px;
            color: var(--color-secondary);
        }
        &--title a {
            color: currentColor;
        }
        &--img {
            z-index: 1;
            display: flex;
            min-height: 508px;
            align-items: center;
            justify-content: center;
            position: relative;
            @include respond(md) {
                min-height: 400px;
            }
            @include respond(xs) {
                min-height: 270px;
            }
            &::before {
                position: absolute;
                content: '';
                inset: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transform: scale(0.8);
                @include transition(.1s);
                background: rgba(238, 156, 37, 0.8);
            }
            .thm-btn {
                opacity: 0;
                transform: scale(0.8);
                @include transition(.1s);
                background: var(--color-heading);
                .text {
                    
                    color: var(--color-secondary);
                    text-shadow: 0 1.3em var(--color-secondary);
                }
                .xb-icon {
                    background: var(--color-secondary);
                }
            }
        }
    }
    &:hover {
        .xb-item--img {
            &::before {
                opacity: 1;
                transform: scale(1);
                @include transition(.3s);
            }
            .thm-btn {
                opacity: 1;
                transform: scale(1);
                @include transition(.3s);
                transition-delay: .2s;
            }
        }
    }
}
.fc-project-inner {
    gap: 100px;
    margin-right: 100px;
    @include respond(md) {
        gap: 80px;
        margin-right: 80px;
    }
}
.fc-project-btn {
    a {
        background: #c6e7fe;
        .text {
            color: var(--color-heading);
            text-shadow: 0 1.3em var(--color-heading);
        }
    }
}


